<p id="notice"><%= notice %></p>
<table>
  <thead>
    <th>email</th>
    <th colspan="2">actions</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'Destroy', destroy_conference_user_path(user_id: user.id, conference_id: @conference.id), data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'back', conference_messages_path(@conference) %>


