<% if current_user.id == message.user.id %>
  <div class="message sender" id="<%= message.id %>">
<% else %>
  <div class="message" id="<%= message.id %>">
<% end %>
    <p><%= message.text %></p>
    <p><%= message.user.email %></p>
  </div>