<div class="message" id="<%= message.id %>">
  <p><%= message.text %></p>
  <p><%= message.user.email %></p>
  <% if message.user_id == current_user.id %>
    <p><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>
</div>